
<h2>Get email address</h2>
<p>Choose the &lt;b&gt;Get email address&lt;/b&gt; button to get the current user's email address:</p>
@using (Html.BeginForm("GetMyEmailAddress", "Graph"))
{
    <div class="col-sm-12">
        <div class="form-group">
            <button class="btn btn-default" id="get-my-email-address">Get email address</button>
        </div>
    </div>
}
<div class="col-sm-12">
    <label for="user-email-address">Current user's email address</label>
    <pre name="user-email-address">@ViewBag.Email</pre>
</div>

<h2>Send an email</h2>
<p>After you get the email address, optionally change the following fields and then choose the  Send mail  button:</p>
@using (Html.BeginForm("SendEmail", "Graph"))
{
    <div class="col-sm-12">
            <div class="form-group">
                <label for="recipients">Recipient email addresses, separated by a semicolon</label>
                <input name="recipients" type="text" class="form-control" value="@ViewBag.Email" @(ViewBag.Email == null ? "disabled" : null) />
            </div>
            <div class="form-group">
                <label for="subject">Subject of email</label>
                <input name="subject" type="text" class="form-control" value="Sent from the API samples" />
            </div>
            <div class="form-group">
                <button class="btn btn-default @(ViewBag.Email == null ? "disabled" : null)">Send email</button>
                <input name="email-address" value=@ViewBag.Email type="hidden" />
            </div>
        </div>
}
<div class="col-sm-12">
    <p class="@(ViewBag.Message == null ? "hidden" : null)">@Html.Raw(ViewBag.Message)</p>
</div>
